body::before {
  content: "";
  background-image: url("https://raw.githubusercontent.com/AndresYakuza/Python-Study/main/docs/Ignore/VsCode.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  * {
  border: 2px solid red !important;
}
}
